body{
    color:cornflowerblue;
    font-family: 'Fredoka', sans-serif;
    font-size: 18px;
    
}

h1{
    background: black;
    text-align: center;
}
/* referencing the portrait class in the html*/
.portrait{
    height: 300px;
}

section{
    margin: 5px;
    padding: 5px;
}
